/* Main */
html, body {
	position: relative;
	height: 100%;
	width: 100%;
	margin: 0;
	overflow: hidden;
}

body {
	--main-font: 'IBM Plex Sans', sans-serif;
	--main-spacing: 2.5vh;
	--main-radius: 1.1vh;
	--greyed-opacity: 0.3;
	--option-border: 0.4vh;
	--option-radius: 0.6vh;
	--transition: 0.5s;
	display: flex;
	font-family: var(--main-font);
	color: var(--text-color);
	background: var(--timer-bg);
	transition: all var(--transition);
}

input[type="radio"] {display: none;}



/* Timer */
.timer-container {
	--timer-font-size: 6.5vh;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100%;
	width: 100%;
	font-size: var(--timer-font-size);
	font-weight: 600;
	line-height: 1.4;
	overflow: hidden;
	box-sizing: border-box;
}
.timer-container > * {
	opacity: var(--greyed-opacity);
	padding: 0 0.5em;
	transition: all var(--transition);
}



/* School hasn't started */
.school-start {
	font-size: 0;
	background: transparent;
}
.school-until-start {color: var(--start);}



/* Periods */
.period-starts-in,
.period-until-start,
.period-has-started {
	color: var(--start);
}

.period-ends-in,
.period-until-end,
.period-has-ended {
	color: var(--end);
}

/* Period hasn't started */
.period.yet-to-start .period-has-started {display: none;}
.period.yet-to-start .period-has-ended {display: none;}

/* Period has started */
.period.started .period-starts-in {display: none;}
.period.started .period-until-start {display: none;}
.period.started .period-has-ended {display: none;}

/* Period has ended */
.period.ended .period-starts-in {display: none;}
.period.ended .period-until-start {display: none;}
.period.ended .period-has-started {display: none;}
.period.ended .period-comma {display: none;}
.period.ended .period-ends-in {display: none;}
.period.ended .period-until-end {display: none;}



/* Between periods */
.between {
	font-size: 0;
	background: transparent;
}

.between-timer {color: var(--end);}



/* School has ended */
.school-end {
	font-size: 0;
	color: var(--end);
	background: transparent;
}



/* Current */
.current {
	opacity: 1;
	font-size: 1em;
	border-radius: var(--main-radius);
	background: var(--current-bg);
}



/* Nav */
.nav-container {
	--nav-spacing: 0.7vh;
	--menu-width: 35vh;
	--menu-padding: 2vh;
	position: relative;
}

.nav {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	height: 100%;
	padding: var(--nav-spacing);
	background: var(--nav-bg);
	box-sizing: border-box;
	z-index: 999;
}

.nav-middle {
	position: absolute;
	top: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transform: translateY(-50%);
}

.nav-option {
	--option-dimension: 5vh;
	--icon-size: 3.3vh;
	display: flex;
	justify-content: center;
	align-items: center;
	height: var(--option-dimension);
	width: var(--option-dimension);
	font-size: var(--icon-size);
	color: var(--nav-icon-bg);
	border-radius: var(--option-radius);
	cursor: pointer;
}
.nav-option ~ .nav-option {margin-top: var(--nav-spacing);}
.nav-option:hover {background: var(--nav-option-hover);}
input:checked + .nav-option {background: var(--nav-option-active);}



/* Menus */
.menu {
	position: absolute;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 35vh;
	padding: var(--menu-padding);
	border-top-right-radius: var(--main-radius);
	border-bottom-right-radius: var(--main-radius);
	background: var(--menu-bg);
	transition: 0.2s all ease-in-out;
	transform: translateX(0);
	box-sizing: border-box;
	z-index: 998;
}

.menu-show {transform: translateX(100%);}



/* Today Info Menu */
.today-info-menu {
	height: auto;
	font-size: 2vh;
	font-weight: 500;
	font-style: italic;
}

/* Customize Menu */
.customize-menu {overflow-x: scroll;}
.customize-container {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.customize-container + .customize-container {margin-top: 4vh;}
.menu-title {
	font-size: 2.5vh;
	font-weight: 500;
	font-style: italic;
}
.menu-option {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 5vh;
	width: 100%;
	font-size: 2vh;
	border: var(--option-border) solid var(--option-hover-bg);
	border-radius: var(--option-radius);
	transition: all 0.1s;
	cursor: pointer;
	box-sizing: border-box;
}
.menu-option {margin-top: var(--option-radius);}
.menu-option:hover {background: var(--option-hover-bg);}
input:checked + .menu-option {
	border-color: var(--option-active-bg);
	background: var(--option-active-bg);
}
.tab-toggle-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.tab-toggle {width: calc(50% - var(--option-radius) / 2);}

/* Extra Timers Menu */
.extra-timers-menu {
	display: flex;
	flex-direction: column;
}
.extra-timer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100%;
	width: 100%;
	font-size: 2.7vh;
	font-weight: 500;
	border: var(--option-border) solid var(--option-hover-bg);
	border-radius: var(--option-radius);
}
.extra-timer + .extra-timer {margin-top: var(--nav-spacing);}
.extra-timer-until-end, .extra-timer-end-text {color: var(--end);}
.extra-timer.yet-to-end .extra-timer-end-text {display: none;}
.extra-timer.ended .extra-timer-predicate {display: none;}
.extra-timer.ended .extra-timer-until-end {display: none;}

.holidays-menu {font-size: 2.7vh;}

/* Personal Menu */
.me-menu {
	bottom: 0;
	height: auto;
	font-size: 2vh;
	font-style: italic;
}
.me-menu span {text-align: center;}
.me-menu a {
	color: var(--start);
	text-decoration: none;
}
.me-menu a:hover {text-decoration: underline;}