:root {
	--timer-bg: hsl(215, 22%, 5%);
	--text-color: white;

	--start: #8f8;
	--end: #f88;

	--current-bg: hsl(215, 22%, 15%);

	--nav-bg: hsl(215, 22%, 10%);
	--nav-icon-bg: hsl(215, 22%, 55%);
	--nav-option-hover: hsl(215, 22%, 15%);
	--nav-option-active: hsl(215, 22%, 20%);

	--tooltip-bg: hsl(215, 22%, 89%);
	--tooltip-text: black;

	--menu-bg: hsl(215, 22%, 15%);
	--option-hover-bg: hsl(215, 22%, 25%);
	--option-active-bg: hsl(215, 22%, 40%);
}